[daemon]
data_dir = /tmp
pid_file = /tmp/mqtt2rrd.pid
user = mqtt
group = mqtt

[logging]
log_file = /tmp/mqtt2rrd.log
log_level = 10

[mqtt]
client_id = "MQTT_to_RRD_TEST"
hostname=gw
port= 1883
username=auser
password=apassword
keepalive=60
subscriptions=/home/solar/midniteclassic/messages/fet-temp

[/node/solar/midniteclassic/messages]
friendly_name = "My Important Topic"
step=30 
archives=RRA:AVERAGE:0.5:1:120,RRA:AVERAGE:0.5:5:288


